﻿@{
    ViewBag.Title = "Programming Tutorialz";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="images/logo.ico" />
<!--<link rel="stylesheet" type="text/css" media="all" href="stylesheets/main.css">-->
<title>Programming Tutorialz</title>
<style>
	/* body */
	body, table, td, th, ul, ol, li, textarea, input, a{
		font-size: 13px;
		color: #000000;
		font-family: verdana,helvetica,arial,sans-serif;
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	body{
		background-color: #f2f2f2;width: 1050px;
		margin: auto;
		height: 100%;
	}
	hr {border-bottom: 1px solid #545453;}
	a { text-decoration: none; }
	a.button:hover{background-color: #b73b3b;}
	.button{
		padding: 10px;
		background-color: #33cc66;
		color: white;
		text-decoration: none;
		text-transform: capitalize;
		border-radius: 2px;
		margin-left: 4px;
		float: right;
	}
	/* body ends */
	
	/* header --> top navigation */
	#header{ height: 84px; margin-top: 20px; }
	#topnav{
		height: 27px;
		background-color: #33cc66;
		border: 1px solid #545453;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		text-transform: uppercase;
		margin-top: 10px;
		color: white;
	}
	#topnav a{
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		padding-bottom: 5px;
		border-right: 2px solid #545453;
		color:#fff;
		float: left;
	}
	#topnav a:hover { background-color: #b73b3b; }
	/* header ends --> top navigation ends*/
	
	/* body --> 3 coloumns of structure */
	#structure{
		border-right: 1px solid #545453;
		border-left: 1px solid #545453;
		padding-bottom: 20px;
		background-color: white;
		min-height: 600px;
		margin-top: 0px;
		float: left;
		width: 1048px;
	}
	/* navigation --> 1st column */
	#left_nav { 
		width: 150px;
		padding: 0px;
		margin: 0px;
		float: left;
		margin-left: 10px;
		margin-right: 4px;
		background-color: white;
		display: block;
	}
	h2.subjects{
		font-size: 17px;
		font-weight: normal;
		padding-top: 20px;
		color: #33cc66;
		padding-bottom: 0px;
		text-transform: capitalize;	
	}
	
	#left_nav a {
		color: #000000;
		background-color: #F0F8FF;
		text-decoration: none;
		display: block;
		border: 1px solid #e5e5e5;
		margin-top: 1px;
		padding: 2px;
		text-transform: capitalize;
	}
	#left_nav a:hover { background-color: white; }
	#selected a { font-weight: bold; color: rgb(171, 221, 47); }
	/* navigation ends --> 1st column ends*/
	
	/* page --> 2nd column */
	article { 
		float: left; margin: 7px; 
		margin-top: 30px; width: 700px; font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	}
	article h1, h2, h3, h4, h5, h6, p{margin-top: 0;}
	article h2, h3, h4, h5, h6{
		font-size: 20px;
		font-weight: 700; }
	article h1{
		margin-top: 0;
		letter-spacing: -1px;
		font-size: 28px;
		font-weight: 700;
		line-height: 36px;
		color: #666666;
	}
	/* page ends --> 2nd column ends */
	/* body ends --> 3 coloumns of structure ends*/
	
	/* footer */
	footer { min-height: 2em; margin: 0px; padding: 1em 0px; text-align: center;
 background: #545453; color: white;float: left;
width: 1050px;}
 	footer a{ text-transform: uppercase; color:white; padding-top: 1em;}	
	footer a:hover{text-decoration:underline;color:#f2f2f2}
	/* footer */
	
	/* error and success messages */
	.error{ color: red; }
	.success{ color: green; }
	/* error and success messages */
</style>
<script>
function load_page(){
	var xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = function(){
		if(xmlhttp.readyState == 4 && xmlhttp.status == 200 ){
			document.getElementById("page").innerHTML = xmlhttp.responseText;
		}
	}
	xmlhttp.open("GET","article.html",true);
	xmlhttp.send();
	console.log(xmlhttp);
}
</script>
</head>
<body>
	<!-- header -->
	<header id="header">
        	<aside id="toplogo"><a href="http://www.programmingtutorialz.com"><img src="images/programmingtutorialzlogo.png" alt="programmingtutorialz.com" style="margin-top: 10px;"></a>
            <a class="button" href="login.htm">login</a>
    		<a class="button" href="register.html">register</a>
            </aside>
            <nav id="topnav">
                <a href="http://www.programmingtutorialz.com/java">java</a>
                <a href="http://www.programmingtutorialz.com/cpp">c++</a>
                 <a href="http://www.programmingtutorialz.com/python">python</a>
                <a href="http://www.programmingtutorialz.com/csharp">c#</a>
                <a href="http://www.programmingtutorialz.com/php">php</a>
                <a href="http://www.programmingtutorialz.com/ruby">ruby</a>
               
                <a href="http://www.programmingtutorialz.com/android">android</a>
                <a href="http://www.programmingtutorialz.com/iOS">ios</a>
                <a href="http://www.programmingtutorialz.com/j2ee">j2ee</a>
                <a href="http://www.programmingtutorialz.com/js">js</a>
                <a href="http://www.programmingtutorialz.com/ajax">ajax</a>
                <a href="http://www.programmingtutorialz.com/processing">games</a>
                <a href="http://www.programmingtutorialz.com/flex">flash</a>
                <a href="http://www.programmingtutorialz.com/sql">sql</a>
                <a href="http://www.programmingtutorialz.com/html">html/css</a>
           </nav>
    </header>
    <!-- body -->
    <div id="structure">
    	<!-- Left navigation -->
    	<nav id="left_nav">
        	<h2 class="subjects">C++</h2>
            <a href="http://www.w3schools.com" target="page_iframe">C++ home</a>
			<a href="#" onClick="load_page()" role="button">C++ intro</a>
            <h2 class="subjects">Subject 2</h2>
            <a href="page1.html">page 1</a>
			<a href="page1.html">page 2</a>
            <h2 class="subjects">Subject 3</h2>
            <a href="page1.html">page 1</a>
			<a href="page1.html">page 2</a>
            <a href="page1.html">page 1</a>
			<a href="page1.html">page 2</a>
            <a href="page1.html">page 1</a>
			<a href="page1.html">page 2</a>
            <a href="page1.html">page 1</a>
			<a href="page1.html">page 2</a>
            <a href="page1.html">page 1</a>
        </nav>
        <!-- page -->
        <article id="page">
        	<h1>Instructions</h1>
    <section>
     <h2>How to use this document</h2>
      <p>Be aware that the CSS for these layouts is heavily commented. If you do most of your work in Design view, have a peek at the code to get tips on working with the CSS for the fixed layouts. You can remove these comments before you launch your site. To learn more about the techniques used in these CSS Layouts, read this article at Adobe's Developer Center - <a href="http://www.adobe.com/go/adc_css_layouts">http://www.adobe.com/go/adc_css_layouts</a>.</p>
    </section>
    <section>
      <h2>Clearing Method</h2>
      <p>Because all the columns are floated, this layout uses a clear:both declaration in the footer rule.  This clearing technique forces the .container to understand where the columns end in order to show any borders or background colors you place on the .container. If your design requires you to remove the footer from the .container, you'll need to use a different clearing method. The most reliable will be to add a &lt;br class=&quot;clearfloat&quot; /&gt; or &lt;div  class=&quot;clearfloat&quot;&gt;&lt;/div&gt; after your final floated column (but before the .container closes). This will have the same clearing effect. </p>
    </section>
    <section>
      <h2>Logo Replacemet</h2>
      <p>An image placeholder was used in this layout in the header where you'll likely want to place  a logo. It is recommended that you remove the placeholder and replace it with your own linked logo. </p>
      <p> Be aware that if you use the Property inspector to navigate to your logo image using the SRC field (instead of removing and replacing the placeholder), you should remove the inline background and display properties. These inline styles are only used to make the logo placeholder show up in browsers for demonstration purposes. </p>
      <p>To remove the inline styles, make sure your CSS Styles panel is set to Current. Select the image, and in the Properties pane of the CSS Styles panel, right click and delete the display and background properties. (Of course, you can always go directly into the code and delete the inline styles from the image or placeholder there.)</p>
    </section>
    <section>
      <h2>Clearing Method</h2>
      <p>Because all the columns are floated, this layout uses a clear:both declaration in the footer rule.  This clearing technique forces the .container to understand where the columns end in order to show any borders or background colors you place on the .container. If your design requires you to remove the footer from the .container, you'll need to use a different clearing method. The most reliable will be to add a &lt;br class=&quot;clearfloat&quot; /&gt; or &lt;div  class=&quot;clearfloat&quot;&gt;&lt;/div&gt; after your final floated column (but before the .container closes). This will have the same clearing effect. </p>
    </section>
    <section>
      <h2>Logo Replacemet</h2>
      <p>An image placeholder was used in this layout in the header where you'll likely want to place  a logo. It is recommended that you remove the placeholder and replace it with your own linked logo. </p>
      <p> Be aware that if you use the Property inspector to navigate to your logo image using the SRC field (instead of removing and replacing the placeholder), you should remove the inline background and display properties. These inline styles are only used to make the logo placeholder show up in browsers for demonstration purposes. </p>
      <p>To remove the inline styles, make sure your CSS Styles panel is set to Current. Select the image, and in the Properties pane of the CSS Styles panel, right click and delete the display and background properties. (Of course, you can always go directly into the code and delete the inline styles from the image or placeholder there.)</p>
    </section>
        	<!--<iframe src="" name="page_iframe" frameborder="0" height="500px" width="700px" scrolling="no"></iframe>
        	<h2>Page 1</h2>
            <p>this is a demo page</p>
            <p>usea;dlka;skd;ak;dlka;ka; da;d ;ldk;a;d;a sd</p>
            <hr>
            <h2>Page 1</h2>
            <p>this is a demo page</p>
            <p>usea;dlka;skd;ak;dlka;ka; da;d ;ldk;a;d;a sd</p>-->
        </article>
    </div>
<!-- footer --> 
    <footer>
    	<a href="error.html">report error</a>
        <span> | </span>
        <a href="error.html">contact</a>
        <span> | </span>
        <a href="error.html">join us</a>
        <span> | </span>
        <a href="error.html">about</a>
        <span> | </span>
        <a href="http://facebook.com">facebook</a>
        <br/>
    	<p style="margin-top: 13px;">&copy; programmingtutorialz.com All rights reserved</p>
    </footer>
</body>
</html>
